 .card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  border-color : grey;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  background-color : white;
}
img{
      width : 100px;
  height : 100px;
}

.card-container:hover {
  transform: scale(1.05);
}
a
{

    color: black;
    text-decoration: none;
}
